#main_page {
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cdeb8e), color-stop(100%,#a5c956));
	border-color: #75A565;
}
.scrollbar_track {  
	width: 10px;
}
.scrollbar_track .scrollbar_slot { 
	width: 3px;
	margin: 0 3px 0 4px;
	background: transparent;
}
.scrollbar_handle {  
	background-color: green;  
	width: 2px;  
	opacity: 0.8;
}
.scrollbar_track.active .scrollbar_slot,
.scrollbar_track:hover .scrollbar_slot { 
	width: 10px;
	margin: 0;
	background: rgba(0,0,0,0.1);
}
.scrollbar_track.active .scrollbar_handle,
.scrollbar_track:hover .scrollbar_handle { 
	width: 10px;
	opacity: 0.8;
}
.profile_img_wrapper {
    border-radius: 3px;
    box-shadow: 1px 1px 3px green;
}
.card.normal {
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cdeb8e), color-stop(100%,#a5c956));
	border-color:#75A565;
	color: DarkGreen;
}
.card.normal a {
	color: SeaGreen  ; 
}
.card.normal .text a {
	color: SeaGreen   !important; 
}
.card.normal > .who > .who_href {
	color: SeaGreen  ; 
}
.card.normal .tweet_thread {
	border: 1px #75A565 solid;
	border-bottom: 0;
}
.card.me {
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cdeb8e), color-stop(100%,#a5c956));
	border-color: #75A565;
	color: DarkGreen;
	background-image: url("./grass.png");
	background-position: right bottom;
	background-repeat: no-repeat;	
}
.card.me a {
	color: SeaGreen  ; 
}
.card.me .text a {
	color: SeaGreen   !important; 
}
.card.me > .who > .who_href {
	color: SeaGreen  ; 
}
.card.me .tweet_thread {
	border: 1px #75A565 solid;
	border-bottom: 0;
}
.card.mention {
    background:-webkit-gradient(linear, left top, left bottom, from(#d1f4c3), to(#b6dd96));
    border-color:#75A565;
    color: DarkGreen;
}
.card.mention a {
    color: SeaGreen;
}
.card.mention > .who > .who_href {
    color: SeaGreen;
}
.card.mention .tweet_thread {
	border: 1px #75A565 solid;
	border-bottom: 0;
}
.card.mention .tweet_ctrl {
    border-color: #75A565;
}
.card.message {
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cdeb8e), color-stop(100%,#a5c956));
	border-color:#75A565;
	color: DarkGreen;
}
.card.message a {
	color: SeaGreen  ; 
}
.card.message .text a {
	color: SeaGreen   !important; 
}
.card.message > .who > .who_href {
	color: SeaGreen  ; 
}
.card.message .tweet_thread {
	border: 1px #75A565 solid;
	border-bottom: 0;
}
.card.deleted a {
    color: gray;
}
.card.deleted .text {
    color: gray;
}
.tweet_meta a {
    color: SeaGreen !important;
}
#indication {
    background:-webkit-gradient(linear, right top, right bottom, from(#333), to(#111));
}
#indication_light {
    background: green;
    -webkit-box-shadow: 0 0 10px #FFC677;
    box-shadow: 0 0 10px #FFC677;
}
.tt_title {
	color: DarkGreen;
}
.mochi_list_item .mochi_dm .label {
	color: DarkGreen;
}
.mochi_list_item .mochi_dm:hover {
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cdeb8e), color-stop(100%,#a5c956));;
}
.mochi_list_item .mochi_dm:hover .label {
	color: white;
}
#notification {
	background: LightGreen;
	border: 1px solid green;
	color: DarkGreen;
}
.vcard, .header_inner, .dm_view_users {
    background:-webkit-gradient(linear, left top, left bottom, from(#d1f4c3), to(#b6dd96));
    border: #75A565 solid 1px;
}
.search_box {
    background:-webkit-gradient(linear, left top, left bottom, from(#d1f4c3), to(#b6dd96));
    border: #75A565 solid 1px;
}
.tt_title {
	color: #333;
}