#header_inner {
    background: #333 url(../../image/mask.png);
    border-bottom: 1px #2d2d2d solid;
}
#indication {
    -webkit-box-shadow: inset 0 0 5px black;
    -moz-box-shadow: inset 0 0 5px black;
    box-shadow: inset 0 0 5px black;
}
#main_page {
    background: #ddd; 
}

.people_vcard {
    color: #333;
    padding: 5px;
}
.tweet_bar_btn {
    background-position-y: -48px;
}
.tweet_bar_btn:hover {
    background-position-y: -72px;
}
.tweet_meta a {
    color: #666 !important;
}
.vcard_action_btns {
    border-top: 1px #ccc solid;
}
.header_content {
    border-left: 1px #ddd solid;
}
.search_box, .vcard, .header_inner {
	background: -webkit-gradient(linear, left top, left bottom, from(#F6F6F8), to(#EDEDED));
  border: #E5E5E5 solid 1px;
}
.card {
    border-top: 1px #ddd solid;
    color: #111;
    border-bottom: 1px #CCC solid;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#EEEEEE), color-stop(100%,#CDCDCD));
}

.card:first-child {
    border-top: 0; 
}

.card.selected {
    background-color: #fafafa;
    border-bottom: 1px #bbb solid;
}

.card > .tweet_selected_indicator {
    background-color: #4C6CF5;
}
.card.normal a {
    color: DarkGoldenRod ;
}

.card.me a {
    color: #492;
}

.card.message a {
    color: MidnightBlue ;
}

.card.mention a {
    color: FireBrick  ;
}
.card.deleted a {
    color: DarkGray;
}
.card.deleted .text {
    color: DarkGray;
}
.btn_tweet_thread_more {
    border-top: 1px #ddd solid;
}
.profile_img_wrapper {
	border-radius: 3px;
	box-shadow: 1px 1px 3px #aaa;
}
::selection {
    background: #a8d1ff;
}
#indication {
    background:-webkit-gradient(linear, right top, right bottom, from(#333), to(#111));
}
#indication_light {
    background: #111;
}
.scrollbar_track {  
	width: 10px;
}

.scrollbar_track .scrollbar_slot { 
	width: 3px;
	margin: 0 3px 0 4px;
	background: transparent;
}

.scrollbar_handle {  
	background-color: gray;  
	width: 3px;  
	opacity: 0.8;
}
.scrollbar_track.active .scrollbar_slot,
.scrollbar_track:hover .scrollbar_slot { 
	width: 10px;
	margin: 0;
	background: rgba(0,0,0,0.1);
}
.scrollbar_track.active .scrollbar_handle,
.scrollbar_track:hover .scrollbar_handle { 
	width: 10px;
	opacity: 0.8;
}
.mochi_list_item .mochi_dm {
	background:-webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#EEEEEE));
}
.mochi_list_item .mochi_dm .label {
	color: #555;
}
.mochi_list_item .mochi_dm:hover {
	background: -webkit-gradient(linear, left top, left bottom, color-stop(2%, #838383), color-stop(4%, #737373), color-stop(100%, #484649));
}
.mochi_list_item .mochi_dm:hover .label {
	color: white;
}
.dm_view_users {
	background: -webkit-gradient(linear, left top, left bottom, from(#F6F6F8), to(#EDEDED));
	border-bottom: 1px #CCC solid;
}