#main_page {
	background:-webkit-gradient(linear, left top, left bottom, from(#F6D4EA), to(#DCA6CB));
	border-color: #DE00A7;
}
.scrollbar_track {  
	width: 10px;
}
.scrollbar_track .scrollbar_slot { 
	width: 3px;
	margin: 0 3px 0 4px;
	background: transparent;
}
.scrollbar_handle {  
	background-color: #DE00A7;  
	width: 2px;  
	opacity: 0.8;
}
.scrollbar_track.active .scrollbar_slot,
.scrollbar_track:hover .scrollbar_slot { 
	width: 10px;
	margin: 0;
	background: rgba(0,0,0,0.1);
}
.scrollbar_track.active .scrollbar_handle,
.scrollbar_track:hover .scrollbar_handle { 
	width: 10px;
	opacity: 0.8;
}
.profile_img_wrapper {
    border-radius: 30px;
    box-shadow: 1px 1px 3px #C47DAD;
}
.card.normal {
    background:-webkit-gradient(linear, left top, left bottom, from(#F6D4EA), to(#DCA6CB));
    border-color: #C47DAD;
    color: #502805;
}
.card.normal a {
    color: #DE00A7;
}
.card.normal .tweet_thread {
    border: 1px #C47DAD solid;
    border-bottom: 0;
}
.card.normal .tweet_ctrl {
    border-color: #C47DAD;
}
.card.me {
    background:-webkit-gradient(linear, left top, left bottom, from(#F6D4EA), to(#DCA6CB));
    background-image: url("./kiss.png");
    background-position: right bottom;
    background-repeat: no-repeat;
    border-color: #C47DAD;
    color: #502805;
}
.card.me a {
    color: #DE00A7;
}
.card.me .tweet_thread {
    border: 1px #C47DAD solid;
    border-bottom: 0;
}
.card.me .tweet_ctrl {
    border-color: #C47DAD;
}
.card.mention {
    background:-webkit-gradient(linear, left top, left bottom, from(#F6D4EA), to(#DCA6CB));
    border-color: #C47DAD;
    color: #502805;
}
.card.mention a {
    color: #DE00A7;
}
.card.mention .tweet_thread {
    border: 1px #C47DAD solid;
    border-bottom: 0;
}
.card.mention .tweet_ctrl {
    border-color: #C47DAD;
}
.card.message {
    background:-webkit-gradient(linear, left top, left bottom, from(#F6D4EA), to(#DCA6CB));
    border-color: #C47DAD;
    color: #502805;
}
.card.message a {
    color: #DE00A7;
}
.card.message .tweet_thread {
    border: 1px #C47DAD solid;
    border-bottom: 0;
}
.card.message .tweet_ctrl {
    border-color: #C47DAD;
}
.card.deleted a {
    color: gray;
}
.card.deleted .text {
    color: gray;
}
.tweet_meta a {
    color: #DE00A7;
}
.vcard, .header_inner {
    background:-webkit-gradient(linear, left top, left bottom, from(#F6D4EA), to(#FEE6F6));
    border: 1px #DE00A7 solid;
    color: #AB0B00;
}
.search_box {
    background:-webkit-gradient(linear, left top, left bottom, from(#F6D4EA), to(#FEE6F6));
    border: 1px #DE00A7 solid;
}
.tt_title {
	color: #AB0B00;
}
#indication {
    background:-webkit-gradient(linear, right top, right bottom, from(#333), to(#111));
}
#indication_light {
    background: #DE00A7;
    -webkit-box-shadow: 0 0 20px #DE00A7;
    box-shadow: 0 0 20px #DE00A7;
}
#indication_slot {
    border-bottom: 1px #DE00A7 solid;
}
#view_title_bar .view_title {
    background:-webkit-gradient(linear, left top, left bottom, from(#F6D4EA), to(#FEE6F6));
    color: #AB0B00;
    font-weight: bold;
    border-bottom: 1px #DE00A7 solid;
    border-left: 1px #DE00A7 solid;
}
#view_title_bar .setting_btn {
    background-image: url(./ic16_gear.png);
}
#view_title_bar .close_btn {
    background-image: url(./ic16_close.png);
}
.mochi_list_item .mochi_dm {
	background:-webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#EEEEEE));
}
.mochi_list_item .mochi_dm .label {
	color: #DE00A7;
}
.mochi_list_item .mochi_dm:hover {
	background:-webkit-gradient(linear, left top, left bottom, from(#F6D4EA), to(#FEE6F6));
}
.mochi_list_item .mochi_dm:hover .label {
	color: #AB0B00;
}
.dm_view_users {
	background:-webkit-gradient(linear, left top, left bottom, from(#F6D4EA), to(#FEE6F6));
	border-bottom: 1px #DE00A7 solid;
}
#notification {
	background:-webkit-gradient(linear, left top, left bottom, from(#F6D4EA), to(#FEE6F6));
	border: 1px solid #DE00A7;
	color: #AB0B00;
}