#main_page {
	background:-webkit-gradient(linear, left top, left bottom, from(#FFFFAA), to(#F7FFAA));
	border-color: orange;
}
.scrollbar_track {  
	width: 10px;
}
.scrollbar_track .scrollbar_slot { 
	width: 3px;
	margin: 0 3px 0 4px;
	background: transparent;
}
.scrollbar_handle {  
	background-color: orange;  
	width: 2px;  
	opacity: 0.8;
}
.scrollbar_track.active .scrollbar_slot,
.scrollbar_track:hover .scrollbar_slot { 
	width: 10px;
	margin: 0;
	background: rgba(0,0,0,0.1);
}
.scrollbar_track.active .scrollbar_handle,
.scrollbar_track:hover .scrollbar_handle { 
	width: 10px;
	opacity: 0.8;
}
.profile_img_wrapper {
    border-radius: 3px;
    box-shadow: 1px 1px 3px orange;
}
.card.normal {
	background:-webkit-gradient(linear, left top, left bottom, from(#FFFFAA), to(#F7FFAA));
	border-color: orange;
	color: #AB0B00;
}
.card.normal a {
	color: #DE7000; 
}
.card.normal .text a {
	color: #DE7000 !important; 
}
.card.normal > .who > .who_href {
	color: #AB0B00; 
}
.card.normal .tweet_thread {
	border-top: 0; 
}
.card.normal:first-child {
	border-top: 1px solid orange; 
}
.card.me {
    background:-webkit-gradient(linear, left top, left bottom, from(#FFFFAA), to(#F7FFAA));
    border-color: orange;
    color: #AB0B00;
}
.card.me a {
    color: #DE7000; 
}
.card.me .text a {
    color: #DE7000 !important; 
}
.card.me > .who > .who_href {
    color: #AB0B00; 
}
.card.me .tweet_thread {
    border: 1px #DE7000 solid;
}
.card.mention {
    background:-webkit-gradient(linear, left top, left bottom, from(#FFFFAA), to(#F7FFAA));
    border-color: orange;
    color: #AB0B00;
}
.card.mention a {
    color: #DE7000; 
}
.card.mention .text a {
    color: #DE7000 !important; 
}
.card.mention > .who > .who_href {
    color: #AB0B00; 
}
.card.mention .tweet_thread {
    border: 1px #DE7000 solid;
}
.card.message {
    background:-webkit-gradient(linear, left top, left bottom, from(#FFFFAA), to(#F7FFAA));
    border-color: orange;
    color: #AB0B00;
}
.card.message a {
    color: #DE7000; 
}
.card.message .text a {
    color: #DE7000 !important; 
}
.card.message > .who > .who_href {
    color: #AB0B00; 
}
.card.message .tweet_thread {
    border: 1px #DE7000 solid;
}
.card.message:first-child {
	border-top: 1px solid orange; 
}
.card.message:last-child {
	border-bottom: 1px solid orange; 
}
.card.deleted a {
    color: gray;
}
.card.deleted .text {
    color: gray;
}
.tweet_meta a {
    color: #DE7000 !important;
}
.vcard, .header_inner {
    background:-webkit-gradient(linear, left top, left bottom, from(#FFC677), to(#FFC666));
    border: orange solid 1px;
    color: #AB0B00;
}
.search_box {
    background:-webkit-gradient(linear, left top, left bottom, from(#FFC677), to(#FFC666));
    border: orange solid 1px;
}
.tt_title {
	color: #AB0B00;
}
#indication {
    background:-webkit-gradient(linear, right top, right bottom, from(#333), to(#111));
}
#indication_light {
    background: orange;
    -webkit-box-shadow: 0 0 10px #FFC677;
    box-shadow: 0 0 10px #FFC677;
}
#indication_slot {
    background:-webkit-gradient(linear, left top, left bottom, from(#FFFFAA), to(#F7FFAA));
    border-bottom: 1px orange solid;
}
#view_title_bar .view_title {
    background:-webkit-gradient(linear, left top, left bottom, from(#FFC677), to(#FFC666));
    color: #AB0B00;
    font-weight: bold;
    border-bottom: 1px orange solid;
    border-left: 1px orange solid;
}
.mochi_list_item .mochi_dm {
	background:-webkit-gradient(linear, left top, left bottom, from(#FFFFAA), to(#F7FFAA));
	border-top:  -1px orange solid;
	border-bottom:  -1px orange solid;
}
.mochi_list_item .mochi_dm .label {
	color: #AB0B00;
}
.mochi_list_item .mochi_dm:hover {
	background:-webkit-gradient(linear, left top, left bottom, from(#FFC677), to(#FFC666));
}
.mochi_list_item .mochi_dm:hover .label {
	color: #AB0B00;
}
.dm_view_users {
	background:-webkit-gradient(linear, left top, left bottom, from(#FFC677), to(#FFC666));
}
#notification {
	background:-webkit-gradient(linear, left top, left bottom, from(#FFC677), to(#FFC666));
	border: 1px solid orange;
	color: #AB0B00;
}