#main_page {
	border-color: #0066ea;
	background:-webkit-gradient(linear, left top, left bottom, from(#d3e3ee), to(#b9d2ff));
}
.scrollbar_track {  
	width: 10px;
}
.scrollbar_track .scrollbar_slot { 
	width: 3px;
	margin: 0 3px 0 4px;
	background: transparent;
}
.scrollbar_handle {  
	background-color: #0066ea;  
	width: 2px;  
	opacity: 0.8;
}
.scrollbar_track.active .scrollbar_slot,
.scrollbar_track:hover .scrollbar_slot { 
	width: 10px;
	margin: 0;
	background: rgba(0,0,0,0.1);
}
.scrollbar_track.active .scrollbar_handle,
.scrollbar_track:hover .scrollbar_handle { 
	width: 10px;
	opacity: 0.8;
}
.profile_img_wrapper {
    border-radius: 30px;
    box-shadow: 1px 1px 3px #0066ea;
}
.card.normal {
	background:-webkit-gradient(linear, left top, left bottom, from(#d3e3ee), to(#b9d2ff));
	border-color:#90abc4;
	color: #14465f;
}
.card.normal a {
	color: #0066ea; 
}
.card.normal .text a {
	color: #0066ea !important; 
}
.card.normal > .who > .who_href {
	color: #0066ea; 
}
.card.normal .tweet_thread {
	    border: 1px #90abc4 solid;
    border-bottom: 0;
}
.card.me {
	background:-webkit-gradient(linear, left top, left bottom, from(#d3e3ee), to(#b9d2ff));
	border-color:#90abc4;
	color: #14465f;
}
.card.me a {
	color: #0066ea; 
}
.card.me .text a {
	color: #0066ea !important; 
}
.card.me .tweet_thread {
	    border: 1px #90abc4 solid;
    border-bottom: 0;
}
.card.mention {
	background:-webkit-gradient(linear, left top, left bottom, from(#d3e3ee), to(#b9d2ff));
	border-color:#90abc4;
	color: #14465f;
}
.card.mention a {
	color: #0066ea; 
}
.card.mention .text a {
	color: #0066ea !important; 
}
.card.mention .tweet_thread {
	border: 1px #90abc4 solid;
	border-bottom: 0;
}
.card.message {
	background:-webkit-gradient(linear, left top, left bottom, from(#d3e3ee), to(#b9d2ff));
	border-color:#90abc4;
	color: #14465f;
}
.card.message a {
	color: #0066ea; 
}
.card.message .text a {
	color: #0066ea !important; 
}
.card.message > .who > .who_href {
	color: #0066ea; 
}
.card.message .tweet_thread {
	    border: 1px #90abc4 solid;
    border-bottom: 0;
}
.card.deleted a {
    color: gray;
}
.card.deleted .text {
    color: gray;
}
.tweet_meta a {
    color: #0066ea !important;
}
.vcard, .header_inner {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#499bea), color-stop(100%,#207ce5));
    border: #0066ea solid 1px;
    color: #FFFFFF;
}
.vcard a, .header_inner a {
	color: #0066ea; 
}
.search_box {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#499bea), color-stop(100%,#207ce5));
    border: #0066ea solid 1px;
}
.tt_title {
	color: #FFFFFF;
}
#indication {
    background:-webkit-gradient(linear, right top, right bottom, from(#333), to(#111));
}
#indication_light {
    background: #EEEEEE; 
    -webkit-box-shadow: 0 0 10px #FFC677;
    box-shadow: 0 0 10px #FFC677;
}
#indication_slot {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#499bea), color-stop(100%,#207ce5));
    border-bottom: 1px #0066ea solid;
}
#view_title_bar .view_title {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#499bea), color-stop(100%,#207ce5));
    font-weight: bold;
    color: #FFF;    
    border-bottom: 1px #90abc4 solid;
    border-left: 1px #90abc4 solid;
}
#view_title_bar .setting_btn {
    background-image: url(./ic16_gear.png);
}
#view_title_bar .close_btn {
    background-image: url(./ic16_close.png);
}
.mochi_list_item .mochi_dm {
	border-top:  -1px #0066ea solid;
	border-bottom:  -1px #0066ea solid;
}
.mochi_list_item .mochi_dm .label {
	color: #0066ea;
}
.mochi_list_item .mochi_dm:hover {
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#499bea), color-stop(100%,#207ce5));
}
.mochi_list_item .mochi_dm:hover .label {
	color: #FFFFFF;
}
.dm_view_users {
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#499bea), color-stop(100%,#207ce5));
	border: 1px #90abc4 solid;
}
#notification {
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#499bea), color-stop(100%,#207ce5));
	border: 1px solid #FFFFFF;
	color: #FFFFFF;
}